*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Custom
*.cache
Demo.DependencyInjection.Abstractions/bin/Debug/
Demo.DependencyInjection.Abstractions/obj/Debug/
Demo.DependencyInjection.Abstractions/obj/
Demo.DependencyInjection.Application/bin/Debug/
Demo.DependencyInjection.Application/obj/Debug/
Demo.DependencyInjection.Application/obj/
Demo.DependencyInjection.Implementation1/bin/Debug/
Demo.DependencyInjection.Implementation1/obj/Debug/
Demo.DependencyInjection.Implementation1/obj/
Demo.DependencyInjection.Implementation2/bin/Debug/
Demo.DependencyInjection.Implementation2/obj/Debug/
Demo.DependencyInjection.Implementation2/obj/
